*{
    margin:0;
    padding:0;
    font-family: "poppins", sans-serif;
    box-sizing: border-box;
}

::placeholder { 
    color: black;
    opacity: 1; 
}

a{
    text-decoration: none;
    color: #5a5a5a;
}
img{
    cursor: pointer;
}
.flex-div{
    display: flex;
    align-items: center;
}
nav{
    padding:10px 2%;
    justify-content: space-between;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    background-color: #fff; /*fff*/
    position: static;
    top: 0;
    z-index: 10;
}
.nav-right img{
    width:35px;
    margin-right: 10px;
}
.nav-right .user-icon{
    width:40px;
    height:40px;
    border-radius: 50%;
    margin-right: 0;
}
.nav-left .logo{
    width: 130px;
}
.nav-middle .search-box{
    border: 1px solid #ccc; /*ccc*/
    margin-right: 15px;
    padding: 8px 12px;
    border-radius: 25px;
} 
.nav-middle .search-box input[type="text"],input[type="search"]{
    width: 400px;
    border: 0;
    outline: 0;
    background: transparent;
}
.nav-middle .mic-icon{
    height:32px;
    width:32px;
}

/*main page*/
/*banner*/
/*.container{
    width: 100%;
    background: #ffffff; //f9f9f9
    padding-top:20px;
    padding-bottom: 32px;
}
.banner{
    width:100%;
    border-radius: 8px;
}*/

/*main content*/
/*.video{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-column-gap: 20px; 
    grid-row-gap: 35px;
    margin-top: 15px;
}
.video-list{
    width:100%;
}
.video-list .thumbnail{
    width:100%;
    border-radius: 5%; //5px
    //width="100px"

}
.video-list .flex-div{
    align-items: flex-start;
    margin-top: 10px;
}
//.video-list .flex-div img{
    width: 35px;
    margin-right: 10px;
    border-radius: 50%;
}
.video-title{
    color:#000;
    font-weight: 600;
    margin-bottom: 5px;
    display:block;
}
.video-list .video-view{
    color:#5a5a5a;
    font-size: 13px;
}*/
.card{
    padding:13px 2%;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}
.write{
    font-weight: 700;
    text-align:center;
}