.video-info{
  text-align: center;
}
.video-c{
  width: 100%;
  height: 100%;
  display: flex;
}
/*.video-container{
  width: 90%;
  margin-left: 5%;
}*/
.video{
  aspect-ratio: 16/9;
  max-height: 700px;
  max-width: 1200px;
}
.row{
  --bs-gutter-x:0;
}