<IfModule mod_rewrite.c>
RewriteEngine on
# Don't rewrite files or directories
RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

#RewriteRule ^/$ index.php [L] 
RewriteRule ^home$ index.php  [L]
RewriteRule ^login$ login.php  [L]
RewriteRule ^register$ register.php  [L]
RewriteRule ^logout$ logout.php  [L]
RewriteRule ^uploadvideo$ uploadvideo.php  [L]
RewriteRule ^canale$ canale.php  [L]
RewriteRule ^video\.php\?video=[0-9]{1,64}$ video.php  [L]
RewriteRule ^canaleuser\.php\?username=[\w]{1,32}$ canaleuser.php  [L]
RewriteRule ^search$ search.php  [L]

RewriteRule ^index.php [L]
</IfModule>